$font-header: 'Roboto Condensed', sans-serif;

$color-yellow: #FEF0D5;
$color-green: #285B5F;
$color-red: #D81E5D;

.header-region {
  background: $color-yellow;
  display: flex;
  align-items: center;
  padding: 5px 10px;

  .site-name {
    margin: 11px 0 0 20px;
  }
  .share-calendar {
    margin-left: auto;
  }

  .social-networks {
    margin-top: 15px;
  }
}

.site-name {
  font-family: sans-serif;
  color: $color-green;

  .title {
    font-size: 32px;
    font-family: $font-header;
    font-weight: bold;
    margin: 0 0 5px 0;
  }

  .description {
    font-size: 15px;
    margin-top: 0;
  }
}

.main-button {
  background: $color-red;
  font-family: sans-serif;
  text-decoration: none;
  color: $color-yellow;
  padding: 5px 11px;
  border-radius: 13px;
  font-size: 14px;
  font-weight: bold;
}

.site-logo {

 .image {
   width: 99px;
 }
}

.social-networks {
  text-align: center;
}