body {
  font-family: sans-serif;
}

.header-region {
  padding: 0 10px;
  background: #FEF0D5;
  padding: 5px 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 30px;
}
.header-region .layout {
  display: flex;
  align-items: center;
}
@media (max-width: 450px) {
  .header-region .layout {
    flex-wrap: wrap;
    text-align: center;
  }
}
.header-region .site-name {
  margin: 11px 0 0 20px;
}
@media (max-width: 450px) {
  .header-region .site-name {
    margin-left: 0;
  }
}
.header-region .share-calendar {
  margin-left: auto;
}
@media (max-width: 450px) {
  .header-region .share-calendar {
    margin: 0 auto;
  }
}
.header-region .social-networks {
  margin-top: 15px;
  min-height: 18px;
}

.site-name {
  font-family: sans-serif;
  color: #285B5F;
}
.site-name .title {
  font-size: 32px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.site-name .description {
  font-size: 15px;
  margin-top: 0;
}

.main-button {
  background: #D81E5D;
  text-decoration: none;
  color: #FEF0D5;
  padding: 5px 11px;
  border-radius: 13px;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: 2s;
}
.main-button:hover {
  background: #eb719a;
  color: #535154;
  transition: 2s;
}
.main-button.-big {
  font-size: 20px;
  font-weight: normal;
  border-radius: 20px;
}

@media (max-width: 450px) {
  .site-logo .image {
    width: 60px;
  }
}
@media (max-width: 450px) {
  .site-logo {
    margin: 0 auto;
  }
}

.social-networks {
  text-align: center;
}

.color-choice .label {
  font-weight: bold;
  margin-bottom: 5px;
}
.color-choice .dropdown {
  padding: 5px;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
}

.single-calendar {
  color: #535154;
  margin-top: 50px;
}
.single-calendar .calendar {
  border: 1px solid #285B5F;
  width: 270px;
  border-radius: 10px;
  padding: 15px 10px;
}
.single-calendar .monthname {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
}
.single-calendar .deletecalendar {
  margin-right: 10px;
}
.single-calendar .addcalendar {
  margin-left: 10px;
}
.single-calendar .calendarcontrol {
  visibility: hidden;
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
}
.single-calendar .calendarcontrol:hover {
  color: #D81E5D;
}
.single-calendar:hover .calendarcontrol {
  visibility: visible;
}
.single-calendar .weekdays {
  color: #b9b7ba;
}
.single-calendar .dayname {
  font-weight: normal;
  text-align: center;
}
.single-calendar .daynumber {
  padding: 15px 5px 15px 5px;
  text-align: center;
}
.single-calendar .daynumber:hover {
  background: #FEF0D5;
  cursor: pointer;
}
.single-calendar .daynumber:last-child,
.single-calendar .dayname:last-child {
  color: #D81E5D;
}

.calendar-list {
  padding: 0 10px;
}
.calendar-list .single-calendar {
  margin-left: 50px;
}

.control-panel {
  padding: 0 10px;
}

.calendar-list .layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -50px;
}

.register-region {
  margin: 50px 0;
  padding: 50px 0;
  background: black url("img/big_bg.jpg") center no-repeat;
  background-size: cover;
}
.register-region .form-normal {
  opacity: 0;
  transition: 2s;
}
.register-region:hover .form-normal {
  animation: showform 1s;
  opacity: 1;
  transition: 2s;
}

.form-normal .input, .form-normal .select {
  display: block;
  width: 220px;
  height: 33px;
  margin: 12px auto;
  border: 1px solid #535154;
  padding: 5px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.form-normal .checkbox, .form-normal .radio {
  display: block;
  width: 220px;
  margin: 0 auto;
  color: white;
}
.form-normal .checkbox {
  cursor: pointer;
  margin-bottom: 10px;
}
.form-normal .submit {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

@keyframes showform {
  0% {
    margin-left: -2000px;
  }
  100% {
    margin-left: 0;
  }
}
._container {
  max-width: 960px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
