$font-header: 'Roboto Condensed', sans-serif;

$color-yellow: #FEF0D5;
$color-green: #285B5F;
$color-red: #D81E5D;
$color-grey: #DBDBDB;
$color-grey-dark: #535154;

$calendar-gap: 50px;

$breakpoint450: 450px;

@mixin big-component-style {
  padding: 0 10px;
}

body {
  font-family: sans-serif;
}

.header-region {
  @include big-component-style();
  background: $color-yellow;
  padding: 5px 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 30px;

  .layout {
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint450) {
      flex-wrap: wrap;
      text-align: center;
    }
  }

  .site-name {
    margin: 11px 0 0 20px;
    @media (max-width: $breakpoint450) {
      margin-left: 0;
    }
  }
  .share-calendar {
    margin-left: auto;
    @media (max-width: $breakpoint450) {
      margin: 0 auto;
    }
  }

  .social-networks {
    margin-top: 15px;
  }
}

.site-name {
  font-family: sans-serif;
  color: $color-green;

  .title {
    font-size: 32px;
    font-family: $font-header;
    font-weight: bold;
    margin: 0 0 5px 0;
  }

  .description {
    font-size: 15px;
    margin-top: 0;
  }
}

.main-button {
  background: $color-red;
  text-decoration: none;
  color: $color-yellow;
  padding: 5px 11px;
  border-radius: 13px;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: 2s;

  &:hover {
    background: lighten($color-red, 20%);
    color: $color-grey-dark;
    transition: 2s;
  }

  &.-big {
    font-size: 20px;
    font-weight: normal;
    border-radius: 20px;
  }
}

.site-logo {
 .image {
   @media (max-width: $breakpoint450) {
     width: 60px;
   }
 }
  @media (max-width: $breakpoint450) {
    margin: 0 auto;
  }
}

.social-networks {
  text-align: center;
}

.color-choice {
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .dropdown {
    padding: 5px;
    border: 1px solid $color-grey;
    border-radius: 5px;
  }
}

.single-calendar {
  color: $color-grey-dark;
  margin-top: 50px;

  .calendar {
    border: 1px solid $color-green;
    width: 270px;
    border-radius: 10px;
    padding: 15px 10px;
  }

  .monthname {
    font-family: $font-header;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
  }

  .deletecalendar {
    margin-right: 10px;
  }
  .addcalendar {
    margin-left: 10px;
  }

  .calendarcontrol {
    visibility: hidden;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
      color: $color-red;
    }
  }

  &:hover .calendarcontrol {
    visibility: visible;
  }

  .weekdays {
    color: lighten($color-grey-dark, 40%)
  }

  .dayname {
    font-weight: normal;
    text-align: center;
  }

  .daynumber {
    padding: 15px 5px 15px 5px;
    text-align: center;
  }

  .daynumber:hover {
    background: $color-yellow;
    cursor: pointer;
  }

  .daynumber:last-child,
  .dayname:last-child {
    color:$color-red
  }
}

.calendar-list {
  @include big-component-style();
  .single-calendar {
    margin-left: $calendar-gap;
  }
}

.control-panel {
  @include big-component-style();
}

.calendar-list .layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -$calendar-gap;
}

.register-region {
  margin: 50px 0;
  padding: 50px 0;
  background: black url("img/big_bg.jpg") center no-repeat;
  background-size: cover;
}

.form-normal {
  .input, .select {
    display: block;
    width: 220px;
    height: 33px;
    margin: 12px auto;
    border: 1px solid $color-grey-dark;
    padding: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }

  .checkbox, .radio {
    display: block;
    width: 220px;
    margin: 0 auto;
    color: white;
  }

  .checkbox {
    cursor: pointer;
    margin-bottom: 10px;
  }

  .submit {
    display: block;
    margin: 0 AUTO;
    margin-top: 30px;
  }
}

._container {
  max-width: 960px;
  margin: 0 auto;
}