.title-page {
    font-family: sans-serif;
    padding: 15px;
    height: 250px;
    width: 300px;
}

.title-page .image {
    width: 35%;
    height: 35%;
}

.title-page .title3 {
    font-size: 15px;
    color: gray;
    margin-top: 5px;
    }

.title-page .title2 {
   margin-bottom: 5px;
    font-size: 20px;
}