$font-header: 'Roboto Condensed', sans-serif;

$color-yellow: #FEF0D5;
$color-green: #285B5F;
$color-red: #D81E5D;
$color-grey: #DBDBDB;
$color-grey-dark: #535154;

$calendar-gap: 50px;

$breakpoint450: 450px;